In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("prieba1.csv")

In [11]:
df.head()

   matrícula   alumno
0  A01277052   Jesuha